<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">

<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->
<h1 th:text="'List of Owners'">Owners List</h1>

<div class="row">
    <div class="col-md-12 text-center">
        <img class="img-responsive" th:src="@{/resources/images/pets.png}" alt="Pets"/>
    </div>
</div>

<table class="table table-striped mt-4">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">Joe</td>
        <td th:text="${owner.lastName}">Buck</td>
    </tr>
    </tbody>
</table>

<div class="footer-bar">
    <span>Powered by PetClinic</span>
    <button class="btn btn-primary">Help</button>
    <button class="btn btn-secondary">Contact</button>
</div>


</body>
</html>
